<nav class="navbar navbar-expand-lg navbar-dark bg-nav">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Inlämning Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active">Home</a>
        </li>
      </ul>


      <ul class="navbar-nav">
        <li class="nav-item ">
          <a *ngIf="isLoggedIn; then loggedIn; else notLoggedIn"></a>
        </li>
      </ul>

      <!-- <li class="nav-item">
          <a class="nav-link" (click)="isLoggedIn = !isLoggedIn">Switch</a>
        </li> -->


      <div></div>

    </div>
  </div>
</nav>


<ng-template #loggedIn>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile" [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">Johan Tysk</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()">Logout <i class="fas fa-sign-out-alt"></i></a>
    </li>
  </ul>

</ng-template>

<ng-template #notLoggedIn>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/register" [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active">Register</a>
    </li>
  </ul>

</ng-template>